body {
  background-color: lightgray;
  margin-bottom: 15em;
  font-family: 'Open Sans', sans-serif; }

#admin-access {
  margin-bottom: 1em;
  display: none; }

#intro {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ececec;
  margin-left: -15px;
  margin-right: -15px; }

.container-fluid h1 {
  margin-top: 10px;
  text-align: center; }
  .container-fluid h1 img {
    float: left;
    height: 1em;
    vertical-align: top; }
.container-fluid #rep-link {
  float: right;
  font-size: 14px;
  max-width: 200px;
  border: 1px solid #23527c;
  border-radius: 15px;
  padding: 5px; }
  .container-fluid #rep-link:hover {
    border-color: black;
    background-color: #c3c3c3; }

#downloadLink {
  display: none; }

#download-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px; }

#keyword-buttons .btn span.glyphicon {
  opacity: 0; }

#keyword-buttons .btn.active span.glyphicon {
  opacity: 1; }

#filter-outer {
  padding: 0px; }

#filter-pane {
  background-color: #ababab;
  padding: 20px 15px 0 15px;
  max-height: 100%;
  overflow: scroll; }
  #filter-pane #heading h2 {
    margin-top: 0; }
  #filter-pane #heading button {
    float: right; }
  #filter-pane #heading:after {
    clear: both;
    content: "";
    display: block; }
  #filter-pane #add-keyword-form {
    margin-bottom: 20px;
    display: none; }
  #filter-pane.affix, #filter-pane.affix-bottom {
    top: 0 !important;
    width: 100%;
    position: fixed !important; }

#sort-pane {
  background-color: #c4c4c4; }

#keyword-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px; }

#keyword-buttons .btn {
  width: 50%;
  white-space: normal;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: smaller; }
  #keyword-buttons .btn span {
    margin-right: 10px; }

#sort-options {
  float: left; }

#view-options {
  float: right; }

#view-label {
  text-align: right; }

.list-view {
  font-size: 14px !important; }
  .list-view .catalog-item {
    width: 100%;
    padding: 5px;
    background-color: white; }
  .list-view .catalog-item.even {
    background-color: #ececec; }
  .list-view .cover-holder {
    display: none; }
  .list-view p {
    margin: 0;
    width: 100%; }
    .list-view p a, .list-view p span {
      display: inline-block;
      vertical-align: top; }
    .list-view p .title {
      width: 45%; }
    .list-view p .author {
      width: 15%;
      padding-left: 1em; }
    .list-view p .date {
      width: 8%;
      padding-left: 1em; }
    .list-view p .duration {
      width: 8%; }
    .list-view p .price {
      width: 8%;
      padding-left: 1em; }
    .list-view p .isbn {
      width: 10%;
      padding-left: 1em;
      font-family: "Lucida Console", Courier;
      font-size: smaller;
      vertical-align: middle; }

.covers-view .list-holder {
  display: none; }
.covers-view .catalog-item {
  position: relative;
  width: 250px;
  height: auto;
  margin: 5px;
  padding: 10px;
  background: #e3f3ff;
  transition: background .25s ease-out; }
.covers-view .catalog-item:hover:not(.selected) {
  background: #d0ebe3; }
.covers-view .catalog-item h3 {
  margin-top: 0; }
.covers-view .catalog-item .cover {
  display: table-cell;
  float: right;
  width: 50%;
  position: relative; }
.covers-view .catalog-item img {
  width: 100%;
  position: relative; }
.covers-view .catalog-item .price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  margin-left: 10px;
  color: #920000; }
.covers-view .catalog-item .author {
  margin: 0; }
.covers-view .catalog-item .date {
  font-size: 11px; }
.covers-view .catalog-item .duration {
  font-size: smaller; }

.catalog-item .duration:not(:empty):after {
  display: inline;
  content: " hours"; }

.catalog-item.selected {
  background-color: yellow !important; }

.catalog-item input.show-or-hide {
  display: none; }

body:not(.admin) .catalog-item.hidden-item {
  display: none; }

#catalog {
  margin-top: 3em;
  padding-bottom: 3em; }

.keyword-1 {
  background-image: linear-gradient(to bottom, #3781a1 0, #2a627a 100%);
  border-color: #2a627a; }
  .keyword-1:hover, .keyword-1.active {
    background-color: #2a627a; }

.keyword-2 {
  background-image: linear-gradient(to bottom, #7F7CAF 0, #535172 100%);
  border-color: #535172; }
  .keyword-2:hover, .keyword-2.active {
    background-color: #535172; }

.keyword-3 {
  background-image: linear-gradient(to bottom, #4e809e 0, #435e7b 100%);
  border-color: #435e7b; }
  .keyword-3:hover, .keyword-3.active {
    background-color: #435e7b; }

.keyword-4 {
  background-image: linear-gradient(to bottom, #28587B 0, #18364b 100%);
  border-color: #18364b; }
  .keyword-4:hover, .keyword-4.active {
    background-color: #18364b; }

.keyword-5 {
  background-image: linear-gradient(to bottom, #348d8f 0, #286d6f 100%);
  border-color: #286d6f; }
  .keyword-5:hover, .keyword-5.active {
    background-color: #286d6f; }

body.admin #filter-pane {
  background-color: yellow; }
  body.admin #filter-pane #add-keyword-form {
    display: block; }
body.admin .catalog-item input.show-or-hide {
  float: right;
  display: block; }

/*# sourceMappingURL=main.css.map */
